<html>
    <head>
        <link rel="stylesheet" href="/style/bikestyle.css" />
        <title>CSC105 Assignment 3: My Awesome Webpage</title>
    </head>
    <body>
        <div class = "container">
        <header id="head">
                <h1 id="name" style="text-align: center">SKYLER RECKENLL</h1>
                <h2 id="labsection" style="text-align: center">Lab Section: B04</h2>
        </header>
        <hr>
        <h3>3 <span id=title1>Courses</span> I'm Taking</h3>
        <ul>
            <li>Stats 252</li>
            <li>Computer Science 101</li>
            <li>Com 204</li>
        </ul>
        <h3>3 of my <span id=title2>Favourite</span> Books</h3>
        <ol>
            <li>The Hobbit</li>
            <li>The Divinci Code</li>
            <li>Life of Pie</li>
        </ol>
        <h3>Compare and Contrast Websites</h3>
        <article>
            <h4></h4>
            <p>I will be comparing and contrasting two websites from local outdoor stores in my hometown of Smithers British Columbia, <a href="https://www.mcbike.ca/" target="_blank">Mcbike and Sport</A> and <a href="https://oscarssports.com/" target="_blank">Oscars Source for Adventure</A>. Firstly, I want to look at <span id="design">design</span>. On first impression when you open the two websites Oscars in definitely more appealing, the colour scheme suits the business and the use of pictures really makes it a captivating website. Oscars is also a lot less cluttered when compared to Mcbike’s website which make it a lot more visually appealing. As for Mcbike I think the logo of the business used on the website is better designed, it is not as complicated and really compliments the websites but asides from that Oscars websites is a lot more visually appealing.</p>
            <p>Secondly, I will be comparing <span id="usability">usability</span>, both websites have well utilized navigation bars at the top of the webpages to access the other parts of the page, which make it very easy to navigate through the websites. On Mcbikes website they have a site map that displays all the different parts of the website and makes it very easy to find what you are looking for whereas Oscars does not. Oscars website feels less cluttered and as a result that make it easier to find what you are looking for. Overall, I think that Oscars is a better website, it is both well organized and visually appealing.</p>
        </article>
        <br>
        <br>
        <br>
        <h3>Symbols</h3>
            <p>	&lsaquo;&ensp;&ensp;&ensp;&ensp;&ensp;&rsaquo;&ensp;&ensp;&ensp;&ensp;&ensp;&#169;&ensp;&ensp;&ensp;&ensp;&ensp;&Egrave; </p>
        <hr>
        <br>
        <br>
        <div class=image1 align="justify">
                <img src="images/riding.jpg" id="riding">
            <p id=discription>
                This is fall ridding at its best, with the tacky fall dirt and the beautiful fall leaves. A ride like this cannot be beat. More pictures can be found at <a href="https://www.pinkbike.com/news/eastern-harvest-yeti-2017.html" target="_blank">PinkBike</A>.
            </p>
        </div>
        <br>
        <br>
        <div class=image2 align="justify">
            <a href="https://www.pinkbike.com/news/eastern-harvest-yeti-2017.html" target="_blank">
                <img src="images/fallriding.jpg" class="pull-left" id="profile">
            </a>
        </div>
        <br><br>
        <footer>
            <div>
                
            </div>
        </footer>
                <%- include('footer') %>
        </div>
    </body>
    </html>